// Border size
$border-width: 1px !default;
$border-color: $grey-600 !default;
$border-style: solid !default;
$border: $border-width $border-color $border-style !default;
$border-radius: 3px !default;
